# Example (Titanic)

In [1]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, FunctionTransformer, OneHotEncoder, StandardScaler, MinMaxScaler

In [3]:
df = pd.read_csv('../data/titanic_train.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
cat_columns = df.dtypes[df.dtypes == 'object'].index

pd.DataFrame(
    [(df[col].notna().sum(), df[col].unique().size, df[col].mode()[0]) for col in cat_columns], 
    index=cat_columns, 
    columns=['Available', 'Unique', 'Mode']
)

          Available  Unique                 Mode
Name            891     891  Abbing, Mr. Anthony
Sex             891       2                 male
Ticket          891     681                 1601
Cabin           204     148              B96 B98
Embarked        889       4                    S

In [8]:
df_X = df.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'], axis=1)
df_Y = df['Survived']

In [9]:
df_X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [10]:
df_Y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(df_X, df_Y, random_state=42)

In [12]:
X_train.shape

(668, 7)

In [13]:
X_test.shape

(223, 7)

In [14]:
X_train.head()

     Pclass     Sex    Age  SibSp  Parch      Fare Embarked
298       1    male    NaN      0      0   30.5000        S
884       3    male  25.00      0      0    7.0500        S
247       2  female  24.00      0      2   14.5000        S
478       3    male  22.00      0      0    7.5208        S
305       1    male   0.92      1      2  151.5500        S

In [15]:
t_sex = LabelEncoder()

X_train['Sex'] = t_sex.fit_transform(X_train['Sex'].values.reshape(-1, 1)).ravel()
X_test['Sex'] = t_sex.transform(X_test['Sex']).ravel()

X_train.head()

C:\Program_Files_Special\Python373\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Program_Files_Special\Python373\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Program_Files_Special\Python373\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     Pclass  Sex    Age  SibSp  Parch      Fare Embarked
298       1    1    NaN      0      0   30.5000        S
884       3    1  25.00      0      0    7.0500        S
247       2    0  24.00      0      2   14.5000        S
478       3    1  22.00      0      0    7.5208        S
305       1    1   0.92      1      2  151.5500        S

In [16]:
age_imp = SimpleImputer()

X_train['Age'] = age_imp.fit_transform(X_train['Age'].values.reshape(-1, 1)).ravel()
X_test['Age'] = age_imp.transform(X_test['Age'].values.reshape(-1, 1)).ravel()

X_train.head()

C:\Program_Files_Special\Python373\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Program_Files_Special\Python373\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     Pclass  Sex        Age  SibSp  Parch      Fare Embarked
298       1    1  29.421343      0      0   30.5000        S
884       3    1  25.000000      0      0    7.0500        S
247       2    0  24.000000      0      2   14.5000        S
478       3    1  22.000000      0      0    7.5208        S
305       1    1   0.920000      1      2  151.5500        S

In [17]:
fare_tr = FunctionTransformer(np.log1p, np.expm1, validate=False)

X_train.loc[:, 'Fare'] = fare_tr.fit_transform(X_train['Fare'].values.reshape(-1, 1)).ravel()
X_test.loc[:, 'Fare'] = fare_tr.transform(X_test['Fare'].values.reshape(-1, 1)).ravel()

X_train.head()

C:\Program_Files_Special\Python373\lib\site-packages\pandas\core\indexing.py:480: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

     Pclass  Sex        Age  SibSp  Parch      Fare Embarked
298       1    1  29.421343      0      0  3.449988        S
884       3    1  25.000000      0      0  2.085672        S
247       2    0  24.000000      0      2  2.740840        S
478       3    1  22.000000      0      0  2.142510        S
305       1    1   0.920000      1      2  5.027492        S

In [18]:
emb_im = SimpleImputer(strategy='most_frequent')
emb_ohe = OneHotEncoder(sparse=False)

X_train = pd.concat([
    X_train.iloc[:,:-1],
    pd.DataFrame(
        emb_ohe.fit_transform(
            emb_im.fit_transform(X_train['Embarked'].values.reshape(-1, 1))
        ),
        index=X_train.index
    )], 
    axis=1
)

X_test = pd.concat([
    X_test.iloc[:,:-1],
    pd.DataFrame(
        emb_ohe.transform(
            emb_im.transform(X_test['Embarked'].values.reshape(-1, 1))
        ),
        index=X_test.index
    )], 
    axis=1
)

X_train.head()

     Pclass  Sex        Age  SibSp  Parch      Fare    0    1    2
298       1    1  29.421343      0      0  3.449988  0.0  0.0  1.0
884       3    1  25.000000      0      0  2.085672  0.0  0.0  1.0
247       2    0  24.000000      0      2  2.740840  0.0  0.0  1.0
478       3    1  22.000000      0      0  2.142510  0.0  0.0  1.0
305       1    1   0.920000      1      2  5.027492  0.0  0.0  1.0

In [19]:
X_train.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,0,1,2
count,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.00000,668.000000,668.000000
mean,2.333832,0.657186,29.421343,0.553892,0.372754,2.945562,0.17515,0.086826,0.738024
std,0.823707,0.475006,13.009491,1.185279,0.795588,0.981843,0.38038,0.281791,0.440039
min,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,2.000000,0.000000,22.000000,0.000000,0.000000,2.188856,0.00000,0.000000,0.000000
50%,3.000000,1.000000,29.421343,0.000000,0.000000,2.734368,0.00000,0.000000,1.000000
75%,3.000000,1.000000,35.000000,1.000000,0.000000,3.449988,0.00000,0.000000,1.000000
max,3.000000,1.000000,80.000000,8.000000,6.000000,6.240917,1.00000,1.000000,1.000000

In [20]:
X_test.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,0,1,2
count,223.000000,223.000000,223.000000,223.000000,223.000000,223.000000,223.00000,223.000000,223.000000
mean,2.233184,0.618834,30.310719,0.430493,0.408072,3.012222,0.22870,0.085202,0.686099
std,0.869593,0.486766,12.987811,0.801667,0.837912,0.930023,0.42094,0.279810,0.465121
min,1.000000,0.000000,0.830000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1.000000,0.000000,23.000000,0.000000,0.000000,2.185579,0.00000,0.000000,0.000000
50%,3.000000,1.000000,29.421343,0.000000,0.000000,2.787834,0.00000,0.000000,1.000000
75%,3.000000,1.000000,36.000000,1.000000,1.000000,3.476033,0.00000,0.000000,1.000000
max,3.000000,1.000000,71.000000,4.000000,5.000000,5.573579,1.00000,1.000000,1.000000

In [21]:
stds = StandardScaler()
X_train = stds.fit_transform(X_train)
X_test = stds.transform(X_test)

In [22]:
X_train

array([[-1.62051704,  0.72224656,  0.        , ..., -0.46080495,
        -0.30835364,  0.59579323],
       [ 0.80934914,  0.72224656, -0.34010987, ..., -0.46080495,
        -0.30835364,  0.59579323],
       [-0.40558395, -1.38456873, -0.41703442, ..., -0.46080495,
        -0.30835364,  0.59579323],
       ...,
       [ 0.80934914,  0.72224656,  0.89068302, ..., -0.46080495,
        -0.30835364,  0.59579323],
       [-1.62051704, -1.38456873, -1.18627998, ..., -0.46080495,
        -0.30835364,  0.59579323],
       [-1.62051704,  0.72224656, -0.64780809, ..., -0.46080495,
        -0.30835364,  0.59579323]])

In [23]:
from sklearn.metrics import classification_report

from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

knn.fit(X_train, y_train)
print(classification_report(y_test, knn.predict(X_test)))

              precision    recall  f1-score   support

           0       0.83      0.86      0.85       134
           1       0.78      0.74      0.76        89

    accuracy                           0.81       223
   macro avg       0.80      0.80      0.80       223
weighted avg       0.81      0.81      0.81       223